#################################################
# GitHub code owners of specific codebase paths #
#################################################

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# See documentation at https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can use GitHub handles, team handles or email addresses added to the GitHub account

# Default
* @doychinresolve

# Actions, workflows, repo config
/.github/ @doychinresolve @pmilev @DimitarErininResolve @mp-resolve @jakewarren24