.user-actions-add-book, .paginations-list {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-between;
}

.paginations-list {
    justify-content: flex-end !important
}

.store-empty {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 240px;
    font-size: 2rem;
    font-weight: 600;
    color: #c1597c;
}